*{
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --display: grid;
}
a{
    text-decoration: none;
    font-size: 12px;
}
.purple-link{
    color: #E800B6;
}
h4{
    font-size: 12px;
    margin-bottom: 10px;
}
p{
    color: #d4d4d4c5;
    font-size: 12px;
    line-height: 21px;
}
.d-grid{
    display: var(--display);
}
img{
    width: inherit;
    height: inherit;
}
.img-circle-div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: -25px auto 15px;
}
.img-circle-div>img{
    border-radius: inherit;
}
/*********************************************************/
.container{
    width: 100%;
    grid-template-columns: 8.3% 66.7% 25%;
    background: #000;
    font-family: sans-serif;
    color: #fff;
}
/*******left*******/
.left-left{
    background-color: #0e0e0e;
    padding: 40px 0;
    height: 100vh;
    position: fixed;
    left: 0;
    text-align: center;
}
.logo{
    height: unset;
    width: 50px;
    display: block;
    margin: auto;
}
.left-left a{
    display: block;
    padding: 20px;
}
.left-left .nav-bar img{
    width: 20px;
}
.left-left a:hover{
    background: #4C4C4C;
    border-right: 2px solid #DF00AF;

}
.menu{
    display: none;
}
/********Main*********/
.main{
    padding: 40px 50px 40px 0;
}
.main-first{
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    position: sticky;
    top: 0;
}
.main-first input{
    grid-column: span 8;
    background: #000;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}
.main-first a{
    grid-column: span 4;
    margin-left: 90px;
    padding: 10px;
    color: #000;
    background: #fff;
    text-align: center;
    border-radius: 20px;
}
.main-second{
    background-image: linear-gradient(to right, #4e2751, #173f58, #000);
    padding: 30px;
    margin-top: 30px;
    border-radius: 30px;
}
.main-second>h5, .main-second>h3{
    margin-bottom: 8px;
}
.btn-group{
    grid-template-columns: repeat(12, 1fr);
}
.main-second-btn{
    grid-column: span 2;
    background: transparent;
    border: 1px solid #E800B6;
    color: #E800B6;
    padding: 9px;
    text-align: center;
    border-radius: 10px;
    margin-right: 10px;
}
.main-second-btn:hover{
    background: #E800B6;
    color: #fff;
}
.main-header{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 30px;
}
.main-header>.purple-link{
    margin-left: auto;
}
.artwork-nav{
    justify-content: space-between;
    grid-template-columns: repeat(7, auto);
    align-items: center;
    margin-top: 30px;
}
.artwork-nav .artwork-nav-item{
    background: #0e0e0e;
    border-radius: 10px;
    padding: 10px 18px;
    color: #fff;
    margin-right: 5px;
}
.artwork-nav .artwork-nav-item:hover{
    background: #4C4C4C;
}
.artwork-nav .filter{
    background: transparent;
    border: 1px solid #fff;
}
.artwork-card-holder{
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    grid-gap: 15px;
}
.artwork-card{
    margin-bottom: 10px;
}
.artwork-card img{
    width: 100%;
    height: 170px;
    object-fit: cover;
}
.small-btn{
    border-radius: 8px;
    background: #4C4C4C;
    padding: 5px 7px;
    font-size: 8px;
    margin-bottom: 10px;
    display: block;
    width: 40px;
    color: #fff;
    text-align: center;
}
.artwork-card .artwork-paragraph{
    font-size: 15px;
    font-weight: 600;
    color: #DF00AF;
}
.artist-card-holder{
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    grid-gap: 15px;
}
.artist-card{
    border-radius: 10px;
    text-align: center;
    background: #0e0e0e;
    margin-bottom: 10px;
}
.artist-card-text{
    padding-bottom: 10px;
}
.artist-card-bg{
    height: 120px;
    background-size: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.artist-card-bg1{
    background: url(../images/nft44.jpeg);
}
.artist-card-bg2{
    background: url(../images/nft2.jpg);
}
.artist-card-bg3{
    background: url(../images/nft22.jpeg);
}
.artist-card-bg4{
    background: url(../images/nft11.jpeg);
}
.artist-card-bg5{
    background: url(../images/nft33.jpeg);
}
.artist-card .medium-btn{
    background-color: #E800B6;
    display: block;
    width: 70px;
    margin: 0 auto 15px;
    color: #fff;
    padding: 9px;
    text-align: center;
    border-radius: 10px;
}
/********Right******/
.right{
    background-color: #0e0e0e;
}
.right-right{
    position: sticky;
    top: 0;
    padding: 40px 20px;
}
.right-right>img{
    width: 100%;
}
.right-right h3{
    margin: 30px auto 15px;
    font-size: 16px;
}
.img-txt{
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.img-txt-item{
    grid-template-columns: 40px auto;
    align-items: center;
}
.img-txt-item:nth-child(2){
    margin-left: auto;
}
.img-txt-item{
    padding-top: 10px;
}
.img-txt-item .img-circle-div{
    margin: 0;
    height: 30px;
    width: 30px;
}
#auction{
    text-align: center;
}
.countdown{
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: space-between;
}
.countdown p{
    text-align: center;
}
.countdown-group{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}
.countdown-group-half{
    text-align: center;
}
.countdown-group-half>div{
    background: #4C4C4C;
    height: 27px;
    padding: 2px;
}
.countdown-group-half>div:nth-child(odd){
    border-radius: 5px 5px 0 0;
}
.countdown-group-half>.countdown-num{
    margin-top: 3px;
    border-radius: 0 0 5px 5px;
}
.countdown-group-half>.countdown-num p{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-top: -13px;
}
#recent{
    margin-top: 30px;
}
.activities-wrap{
    grid-template-columns: 1fr 1fr;
}
.activities-wrap a{
    margin-left: auto;
}
#activities{
    margin: 0;
}
#bid{
    display: block;
    text-align: center;
    padding: 10px;
    background: #DF00AF;
    color: #fff;
    margin-top: 15px;
    border-radius: 15px;
}
@media screen and (max-width: 1024px){
    .artwork-card-holder{
        grid-template-columns: repeat(2, 1fr);
    }
    .artist-card-holder{
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media screen and (max-width: 763px){
    p, a{
        font-size: 11px;
    }
    .container{
        display: block;
        padding: 30px 40px;
    }
    .left-left{
        display: flex;
        justify-content: space-between;
        position: static;
        height: unset;
        padding: unset;
        margin: unset;
        background: unset;
    }
    .nav-bar{
        display: none;

    }
    .menu, .logo{
        margin: unset;
        width: 35px;
    }
    .menu{
        display: block;
    }
    .main-second-btn{
        grid-column: span 6;
        font-size: 10px;
        padding: 7px 2px;
    }
    .right{
        display: none;
    }
    .main{
        padding: 10px 0;
    }
    .main-first{
        display: none;
    }
    .artwork-nav{
        display: none;
    }
}
@media screen and (max-width: 425px){
    .artwork-card-holder{
    display: block;
}
.artist-card-holder{
    display: block;
}
}

